.drawerHeader{
    background-color:#CE2642;
    border: 0;
    font-size: 24px;
    color: white;
    text-align: center;

}
.sidebar{
    height: 100vh !important;
        background-color: #c60021;
        background-image: linear-gradient(180deg,#c60021 10%,#224abe 100%);
        background-size: cover;
}
.side-btn{
    color: white;
}
.dashboard-btn:hover {
    color: white;
  }
  .dashboard-btn3 {
    font-size: 15px;
  }
  .dashboard-btn3:hover {
    text-decoration: none;
    margin-left: 27px;
    color: #403fad;
    transition: all 0.5s ease-in-out;
    /* margin-right: 2px; */
  }
  .badge{
    color: #c60021;
    background-color: white;
    border-radius: 36px;
    height: 22px;

  }